/* styles.css */
body {
    font-family: Jetbrains Mono;
    background-color: rgba(36, 36, 92, 0.9);
    margin: 0;
    padding: 0;
 }
 
 .containerA {
    max-width: 1200px;
    margin: 10px auto;
    padding: 10px;
 }
 
 h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #f39c12;
 }
 
 .columnsA {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    min-height: 80vh; /* Altura dinámica */
    height: auto;
 }
 
 .columnA {
    flex: 1;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    min-height: 300px;
    margin-bottom: 20px;
 }
 
 .columnA h2 {
    text-align: center;
    margin-bottom: 20px;
 }
 
 .pedido {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
 }
 
 .pedidoRecibido {
    background-color: #f39c12;
    color: white;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: solid 1px #000000;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 
 .siguiente,
 .anterior {
    background-color: #f39c12;
    color: white;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: solid 1px white;
 }
 
 button {
    margin-top: 10px;
    padding: 12px 20px; /* Mejora para pantallas táctiles */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
 }
 
 button:hover {
    background-color: #0056b3;
 }
 
 /* Responsive Design */
 @media (max-width: 768px) {
    .columns {
        flex-direction: column;
        gap: 10px;
    }
 
    .column {
        flex: none;
        width: 100%;
    }
 
    h1 {
        font-size: 24px;
    }
 
    .pedido {
        font-size: 14px;
    }
 
    button {
        width: 100%; /* Botones más grandes */
        font-size: 16px;
    }
 
    .pedidoRecibido {
        font-size: 14px;
    }
 
    .siguiente,
    .anterior {
        font-size: 14px;
    }
 }
 
 @media (max-width: 480px) {
    .columns {
        justify-content: center;
        align-items: center;
        
    }
 
    .column {
        margin-bottom: 15px;
    }
 
    h1 {
        font-size: 20px;
    }
 
    .pedido {
        font-size: 12px;
    }
 
    button {
        padding: 10px;
        font-size: 14px;
        
    }
 
    .pedidoRecibido {
        font-size: 12px;
    }
 
    .siguiente,
    .anterior {
        font-size: 12px;
    }
 }
 