*{
  box-sizing: border-box;
  font-family: Jetbrains Mono;
}



body{

    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    cursor: url('/asset/img/favicon1.png'), auto;
      
}




/* Estilos de footer */
footer {
    background-color: #24245c;
    color: #fff;
    padding: 20px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    padding: 0 10%;
    flex-wrap: wrap;
    margin-top: auto;
  }
  
  .footer-section {
    flex: 1;
    margin: 10px;
  }
  
  .footer-section h3 {
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin: 5px 0;
  }
  
  .footer-section ul li a,
  .footer-section .social a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-section .social a {
    margin: 0 5px;
  }
  
  .footer-bottom {
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
    background-color: #222;
  }

  /* Estilos del header */
/* Estilos generales del header */


header {
  z-index: 10;
  background-color:#24245c; /* Color de fondo del header */
  color: white;
  
  position: sticky;             /* Fija el contenedor en la pantalla */
  top: 0%;                      /* Centrado vertical *;                     /* Centrado horizontal */
  
  width: 100%;

  padding: 20px;
  
}

/* Contenedor principal del header */
.header-container:not(#icono-compra) {
  display: flex;
  flex-direction: column; /* Organiza los elementos en una columna (titulo arriba y menú abajo) */
  align-items: center; /* Centra los elementos horizontalmente */
}

/* Estilo para el logo */
.logo a {
  text-align: center;
  justify-content: center;
  font-size: 36px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 10px;
  height: 50px; /* Ajusta según el tamaño que desees */
}

/* Estilo para el menú */
.menu nav ul {
  list-style-type: none;
  padding: 5px;
  margin: 0;
  display: flex;
  justify-content: center; /* Centra el menú horizontalmente */
}

.menu nav ul li {
  margin: 0 15px;  /* Espacio entre los elementos del menú */
}

.menu nav ul li a,
.menu nav ul li button {
  color: white;
  text-decoration: none;
  font-size: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Efecto hover para los enlaces y el botón */
.menu nav ul li a:hover,
.menu nav ul li button:hover {
  color: #f39c12;
}

.menu .nav-admin {
  display: none;
  color:#f39c12;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3); /* Sombreado interno */
}

/* Contenedor del video */
.video-background-container {
  position: relative;
  width: 90%;
  height: 100vh; /* Ocupa toda la altura de la ventana */
  overflow: hidden; /* Oculta cualquier parte del video que se salga */
  
}

/* Estilo del video */
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Hace que el video cubra todo el contenedor sin distorsionarse */
  z-index: -1; /* Asegura que el video quede en el fondo */
  border-radius: 0 0 20px 20px;
}

/* Estilo para el contenido de la página */
.content {
  position: relative;
  z-index: 1; /* Asegura que el contenido se muestre por encima del video */
  text-align: center; /* Centra el texto */
  color: rgb(2, 2, 2);
  padding: 20px;
}
.video-background {
  filter: blur(5px); /* Ajusta el valor según lo que desees */
  object-fit: cover;
  background-color: #222;
}

#icono-compra {
  position: absolute;  /* Cambia a posición absoluta */
  right: 60px; 
  bottom:-10px;        /* Se ajusta 10px desde el borde derecho del contenedor */
  top: 50%;            /* Centrado verticalmente respecto al contenedor */
  transform: translateY(-50%);  /* Ajuste para centrar el icono verticalmente */
  width: 40px;
  height: 40px;
 
}

#icono-compra:hover{
  cursor: pointer;
  width: 45px;
  height: 45px;
  


}

/* Indicador de cantidad en el carrito */
.carrito-count {
  position: absolute; 
  right: 68px;          /* Alineado con el borde derecho del ícono */
  top: 20px;            /* Ajustado verticalmente */
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  color: white;          /* Texto blanco */
  text-align: center;
  line-height: 20px;     /* Centrar el texto verticalmente */
  border-radius: 50%;    /* Forma circular */
  font-size: 12px;
}



/* Estilos del menú, inicialmente oculto */
.nav-kebab {
  display: none;
  position: absolute;  /* Posicionamiento absoluto */
         /* Justo debajo del botón */
  
              /* Alineado a la izquierda del botón */
  background-color:  #222; /* Fondo blanco para el menú */
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle efecto de profundidad */
  z-index: 1000;        /* Aseguramos que se muestre encima de otros elementos */
  top:100%;
  left:0%;

 
        /* Se ajusta 10px desde el borde derecho del contenedor */
           /* Centrado verticalmente respecto al contenedor */

 width:100%;
  
 
  
}

.nav-kebab ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-kebab li {
  padding: 10px;
}

.nav-kebab li a {
  text-decoration: none;
  color: #b81515;
  padding: 5px 20px;
  display: block;
}

.nav-kebab li a:hover {
  
  color:white;
}

#openModal {
  position: absolute;
  right: 200px;
  top: 50px;
  width: 100px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  white-space: nowrap; /* Impide saltos de línea */
  font-weight: bold;
}


#carrito{


  display:none;
}







 
