/* Estilos generales */
* {
  box-sizing: border-box;
  font-family: 'Jetbrains Mono', monospace;
}

body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  width: 100%;
  margin: 0; 
  cursor: url('/asset/img/favicon1.png'), auto;
}

/* Footer */
footer {
  background-color: #24245c;
  color: #fff;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  padding: 0 10%;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section h3 {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a,
.footer-section .social a {
  color: #fff;
  text-decoration: none;
}

.footer-section .social a {
  margin: 0 5px;
}

.footer-bottom {
  text-align: center;
  padding: 10px;
  font-size: 0.9em;
  background-color: #222;
}

/* Header */
header {
  z-index: 10;
  background-color: #24245c;
  color: white;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 20px;
}

.header-container:not(#icono-compra) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo a {
  text-align: center;
  justify-content: center;
  font-size: 36px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 10px;
}

.menu nav ul {
  list-style-type: none;
  padding: 5px;
  margin: 0;
  display: flex;
  justify-content: center;
}

.menu nav ul li {
  margin: 0 15px;
}

.menu nav ul li a,
.menu nav ul li button {
  color: white;
  text-decoration: none;
  font-size: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu nav ul li a:hover,
.menu nav ul li button:hover {
  color: #f39c12;
}

.menu .nav-admin {
  display: none;
  color: #f39c12;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/* Video Background */
.video-background-container {
  position: relative;
  width: 90%;
  height: 100vh;
  overflow: hidden;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  border-radius: 0 0 20px 20px;
  filter: blur(5px);
  background-color: #222;
}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: rgb(2, 2, 2);
  padding: 20px;
}

/* Carrito */
#icono-compra {
  position: absolute;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
}

#icono-compra:hover {
  cursor: pointer;
  width: 45px;
  height: 45px;
}

.carrito-count {
  position: absolute;
  right: 68px;
  top: 20px;
  width: 20px;
  height: 20px;
  color: white;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  font-size: 12px;
}

/* Menú Kebab */
.nav-kebab {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #222;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 100%;
}

.nav-kebab ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-kebab li {
  padding: 10px;
}

.nav-kebab li a {
  text-decoration: none;
  color: #b81515;
  padding: 5px 20px;
  display: block;
}

.nav-kebab li a:hover {
  color: white;
}

/* Menú Kebab */
.nav-producto {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #222;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 100%;
}

.nav-producto ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-producto li {
  padding: 10px;
}

.nav-producto li a {
  text-decoration: none;
  color: #b81515;
  padding: 5px 20px;
  display: block;
}

.nav-producto li a:hover {
  color: white;
}

/* Modal */
#openModal {
  position: absolute;
  right: 200px;
  top: 50px;
  width: 100px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  font-weight: bold;
}

#carrito {
  display: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    margin: 10px 0;
  }

  .header-container:not(#icono-compra) {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }

  .menu nav ul {
    flex-direction: column;
    align-items: center;
  }

  .menu nav ul li {
    margin: 10px 0;
  }

  .video-background-container {
    width: 100%;
  }

  #icono-compra {
    right: 20px;
    top: 20px;
  }

  .carrito-count {
    right: 28px;
    top: 10px;
  }
}

@media (max-width: 480px) {
  .logo a {
    font-size: 24px;
  }

  .menu nav ul li a,
  .menu nav ul li button {
    font-size: 16px;
  }

  .footer-section h3 {
    font-size: 18px;
  }

  .footer-bottom {
    font-size: 0.8em;
  }
}
