*{
  box-sizing: border-box;
  font-family: Jetbrains Mono;
}




    
    




.vistaKebab {
  display: grid;
  grid-template-columns: 40% 30% 18% 10%; /* Dos columnas de igual tamaño */
  grid-template-rows:5% 30% 3% 20% 25% 5% 1fr ; /* Filas para imagen, nombre, descripción, y precio */
  grid-gap:5px 10px; /* Espacio entre las celdas */
  background-color: rgba(36, 36, 92, 0.9);
  height:700px; /* Ajusta según tu necesidad */
  width: 800px;
  border-radius: 0% 3% 0% 10%;
  padding: 30px;
  overflow: auto;
  overflow: hidden;
  z-index: 1;
  border:#ffffff solid 1px;
  
  margin:auto;
  
}



.part{

    overflow: hidden;
    
    
}

#foto {

  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; 
  grid-column: 1 ; /* Imagen ocupa las dos columnas */
  grid-row:2;
  text-align: center;
  
  color: black;
  
  
  border-radius: 3% 0% 0% 0%;
  
  
}

#nombre {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;  
  
  grid-column: 1 ; /* Nombre ocupa las dos columnas */
  grid-row: 3;
  ;
 
  
  text-align: center;
  color: black;
  background-color: #ffffff;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3); /* Sombreado interno */

}

#descripcion {
  grid-column: 1; /* Descripción ocupa las dos columnas */
  grid-row: 4;
  
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; 
  text-align: center;
  
  color: black;
  background-color: #ffffff;
  box-shadow: inset 0px 0px 10px rgba(138, 138, 138, 0.6); /* Sombreado interno */
  backface-visibility: blur;
  border-radius: 0% 0% 0% 0%;
  
  

}

#listaIngradientes {
  grid-column: 3/4; /* Descripción ocupa las dos columnas */
  grid-row: 2;
  font-size: 20px;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; 
  text-align: center;

  color: black;
  
  
  backface-visibility: blur;
  border-radius: 0% 0% 0% 0%;
  color: rgb(255, 255, 255);
  
  

}

#ingredientesKebab {
  grid-column: 2/3; /* Descripción ocupa las dos columnas */
  grid-row: 2;
  font-size: 20px;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; 
  text-align: center;

  color: rgb(255, 255, 255);
  
 
  backface-visibility: blur;
  border-radius: 0% 0% 0% 0%;
  
  

}

#ingrediente {
    grid-column: 2/3; /* Ingredientes en la primera columna */
    grid-row: 3/6;
    background-color: #ffffff;
    color: black;
    padding: 10px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3); /* Sombreado interno */

  }
  
  #aIngrediente {
    grid-column: 3/5; /* Añadir ingredientes en la segunda columna */
    grid-row: 3/6;
    background-color: #ffffff;
    color: black;
    padding: 10px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3); /* Sombreado interno */
    border-radius: 0% 1% 2.4% 0%;
    
  }

  

#alergenos {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; 

  grid-column: 1 ; /* Alergenos ocupan las dos columnas */
  grid-row: 5/6;
  text-align: center;
  color: black;

  background-color: #ffffff;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3); /* Sombreado interno */
  border-radius: 0%  0%  0% 2%;

}

#precio {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;  
  font-size:50px;
  grid-column: 1; /* Precio ocupa las dos columnas */
  grid-row: 7;
  text-align: center;
  color: #f39c12;
  overflow: hidden;
  padding: auto;
  border-style: solid 1px;
  border-color: #f39c12; 
  border-radius: 10% 10% 10% 10%;
}




#pedir {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;  
  
  

  grid-column: 4; /* Precio ocupa las dos columnas */
  grid-row: 7;
  text-align: center;
  color: #ffffff;
  overflow: hidden;
  padding :20px;
  background-color: #f39c12;
  border-style: solid 1px;
  border-color: #ffffff;
  
  
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3); /* Sombreado interno */
  border-radius: 10% 10% 10% 10%;
}

#pedir:hover {
    
  color:#f39c12;
  cursor: pointer;
  transform: scale(1.1);
  text-size-adjust: 120%;
  background-color: #ffffff;
  




}

#editar {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;  
  
  

  grid-column: 3; /* Precio ocupa las dos columnas */
  grid-row: 7;
  text-align: center;
  color: #ffffff;
  overflow: hidden;
  padding :20px;
  background-color: #f39c12;
  border-style: solid 1px;
  border-color: #ffffff;
  
  
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3); /* Sombreado interno */
  border-radius: 10% 10% 10% 10%;
}

#editar:hover {
    
  color:#f39c12;
  cursor: pointer;
  transform: scale(1.1);
  text-size-adjust: 120%;
  background-color: #ffffff;
  
  




}
#plus {
    grid-column: 4; /* Precio ocupa las dos columnas */
    grid-row: 1;
    text-align: center;
    background-image: url("/asset/img/favicon1.png");
    color: white;
    height: 50px;
    width: 40px;
    margin-top: -15px;
    
    padding-bottom: 10px;
    
    
}

#plus:hover {
    
    color: white;
    cursor: pointer;
    transform: scale(1.1);
    text-size-adjust: 120%;
    rotate: 45deg;




}



.fotoKebab {
  background-image: url("/asset/img/kebab1.jpeg"); /* URL de la imagen */
  width: 100%;              /* Ajusta el ancho de la imagen al 100% del contenedor */
  height: 100%;             /* Ajusta la altura de la imagen al 100% del contenedor */
  object-fit: cover;       /* Hace que la imagen se recorte para llenar el contenedor sin distorsionarse */
  object-position: center; /* Centra la imagen dentro del contenedor */
  margin: 10px;            /* Añade márgenes alrededor de la imagen */
  box-sizing: border-box;  /* Incluye el margen en el tamaño total del contenedor */
}

